body {
    background-color: #000;
    color: gray;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin: 0 4rem 0 4rem;
}

h1 {
    font-size: 3.125rem;
    font-weight: 300;
    color: #fff;
}

h2 {
    font-size: 2.625rem;
    color: #fff;
}

a {
    color: pink;
}

img, video {
    display: block;
    margin: auto;
}

footer {
    text-align: right;
    color: gray;
}